.login_view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_img {
  width: 13.75rem;
  height: 8.125rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.login_write {
  width: 14rem;
  height: 5rem;
  margin-bottom: 2rem;
}

.login_header {
  color: #111;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.375rem; /* 115.789% */
  margin-bottom: 0.75rem;
  text-align: center;
}

.login_sub {
  color: #8e8e8e;
  font-size: 0.85rem;
  letter-spacing: -0.01875rem;
  text-align: center;
}

.login_field {
  display: flex;
  width: 100%;
  height: 2.6875rem;
  margin: 0.75rem auto 0;
  border-bottom: 1px solid #d7d7d7;
  align-items: center;
  padding: 0.76563rem 0;
}

.login_field .register_group {
  flex: 1;
}

.login_field input {
  width: 100%;
  border: none; /* width와 border를 지급 값처럼 주면 placehorder가 왼쪽부터 시작함. */
  color: #111;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.01875rem;
}

.login_remember {
  display: flex;
  align-items: center;
  width: 20rem;
  margin: 1rem auto 0;
  margin-left: 0;
  gap: 0.5rem;
}

.login_check {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.82rem;
  font-weight: 400;
}

.login_checkbox .checkicon {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(/icons/toggle-checkbox.svg);
  background-size: 100% auto;
  background-position: top 0 center;
}

.login_checkbox input[type='checkbox']:checked + .checkicon {
  background-position: top -20px center;
}

.login_btn {
  display: flex;
  width: 100%;
  height: 3.125rem;
  padding: 0.85938rem 0;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.25rem;
  background: #00c6be;

  color: #fff;
  margin: 3rem auto 0;

  &:disabled {
    background: #aaa;
  }
}

.login_member {
  display: flex;
  width: 100%;
  height: 3.125rem;
  padding: 0.85938rem 0 0.82813rem 0;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.25rem;
  border: 1px solid #00c6be;
  color: #00c6be;
  margin: 0.5rem auto 0;
}
