.inner {
  padding: 0 1.25rem;
}

.keyword_scroll_wrap {
  width: 100%;
  margin-top: 9px;
}
.keyword_area {
  display: flex;
  gap: 5px;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0 -20px;
  padding: 0 20px;

  &::-webkit-scrollbar {
    display: none;
  }
}
.keyword {
  padding: 9px 15px 8px;
  border: 1px solid #ddd;
  border-radius: 100px;
  background-color: #fff;
  font-weight: 300;
  font-size: 15px;
  line-height: 1;
  white-space: nowrap;
}
