@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import url('https://fonts.cdnfonts.com/css/georgia');

@import 'normalize.css';

@import './base.css';
@import './layout.css';
@import './utils.css';

@import './style.css';
@import './component.css';
