/* 글쓰기 페이지 */
.write_sec {
  .ttl_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #eee;

    .btn_close,
    .btn_submit {
      display: block;
      flex-shrink: 0;
      width: 30px;
      height: 30px;
      background-position: center center;
      background-size: 100% auto;
      background-repeat: no-repeat;
    }

    .btn_close {
      background-image: url('/public/icons/ico-close-thin.svg');
    }
    .btn_submit:disabled {
      background-image: url('/public/icons/ico-done-thin.svg');
    }
    .btn_submit {
      background-image: url('/public/icons/ico-done-on-thin.svg');
    }

    .ttl {
      margin: 0;
      font-weight: 600;
      font-size: 19px;
      line-height: 22px;
      color: #111;
    }
  }

  .write_group,
  .editor_area {
    display: flex;
    align-items: center;
    padding: 25px;
    height: 60px;
    border-top: 1px solid #eee;
  }

  .editor_area {
    display: block;
    height: auto;
  }

  .form_input {
    color: #111;

    &::placeholder {
      color: #959595;
    }
  }

  .ttl_group {
    .form_input {
      font-size: 24px;
      line-height: 26px;
    }
  }

  .sub_ttl_group {
    .form_input {
      font-size: 20px;
      line-height: 18px;
    }
  }

  #editor {
    min-height: 400px;
  }

  .preview_area {
    .lbl_img {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-image: url('/public/icons/ico-picture-gray.svg');
      background-position: center center;
      background-size: 100% auto;
      cursor: pointer;
    }

    #preview {
      width: 200px;
      visibility: hidden;
    }

    &.active {
      .lbl_img {
        display: none;
      }
      #preview {
        visibility: visible;
      }
    }
  }
}

/* 검색결과 페이지 */
.search_header {
  border-bottom: 0.0625rem solid #ddd;

  .search_box {
    display: flex;
    align-items: center;
    gap: 0.5625rem;
    padding: 0.75rem 1.25rem 1.875rem;

    .search_input {
      flex: 1;
      margin-left: 1.5625rem;
      font-weight: 300;
      font-size: 1.5rem;
      color: #333;
      text-align: center;

      &::placeholder {
        color: #bfbfbf;
      }
    }

    .btn_reset {
      width: 1rem;
      height: 1rem;
      flex-shrink: 0;
      border-radius: 50%;
      background-image: url('/public/icons/ico-close-circle-gray.png');
      background-position: center center;
      background-size: 100 auto;
      background-repeat: no-repeat;
    }
  }

  .search_tab_area {
    display: flex;

    .search_tab {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      font-weight: 300;
      font-size: 0.875rem;
      line-height: 2.3125rem;
      color: #666;
    }
  }
}

.search_body {
  padding: 0.6875rem 0;
  background-color: #f8f8f8;

  ol,
  ul {
    margin: 0;
    padding: 0;
  }
}

.search_init_panel {
  .recommend_author_area {
    padding: 1.5625rem 0 1.875rem;
  }

  .recommend_author_ttl {
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: #bbb;
  }

  .recommend_author_txt {
    margin-top: 0.75rem;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.8125rem;
    color: #333;
  }

  .search_recent_area {
    padding: 1.125rem 0;
    border-top: 0.0625rem solid #eee;
  }

  .recent_keyword_ttl {
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: #828282;
  }

  .search_recent_list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    margin-top: 1rem;
  }

  .search_recent_item {
    display: flex;
    align-items: center;

    .search_recent_link {
      font-weight: 300;
      font-size: 0.9375rem;
      line-height: 1.2;
      color: #333;
    }

    .btn_remove {
      width: 1rem;
      height: 1rem;
      margin-left: auto;
      background-image: url('/public/icons/ico-close-gray.png');
      background-position: center center;
      background-size: 0.5625rem auto;
      background-repeat: no-repeat;
    }
  }
}

.search_result_panel {
  .aux-area {
    display: flex;

    .search_result_count {
      font-weight: 300;
      font-size: 0.75rem;
      color: #959595;
      line-height: 2.25rem;
    }

    .search_sort_area {
      display: flex;
      gap: 1.125rem;
      margin-left: auto;

      .search_sort_btn {
        display: flex;
        align-items: center;
        gap: 0.3125rem;
        font-weight: 300;
        font-size: 0.8125rem;
        color: #959595;
        line-height: 2.25rem;

        &.active {
          color: #333;

          &::before {
            content: '';
            display: block;
            width: 0.25rem;
            height: 0.25rem;
            background-color: #00c6be;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .post_area {
    margin-top: 0.75rem;
  }

  .post_card {
    display: grid;
    grid-template-areas:
      'ttl ttl ttl'
      'excerpt excerpt thumb'
      'date author thumb';
    grid-template-columns: max-content 1fr 3.75rem;
    gap: 0 0.4375rem;

    & + .post_card {
      margin-top: 2.125rem;
    }

    .post_link {
      display: contents;
    }

    .post_ttl {
      grid-area: ttl;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      margin: 0;
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.5rem;
    }
    .post_excerpt {
      grid-area: excerpt;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      margin: 0;
      margin-top: 0.1875rem;
      margin-bottom: 0.375rem;
      font-weight: 300;
      font-size: 0.75rem;
      line-height: 1.25rem;
      color: #959595;
    }
    .date {
      grid-area: date;
      font-weight: 300;
      font-size: 0.75rem;
      line-height: 1.1875rem;
      color: #959595;
    }
    .author_box {
      display: flex;
      align-items: center;
      grid-area: author;

      &::before {
        content: '';
        display: block;
        width: 0.125rem;
        height: 0.125rem;
        flex-shrink: 0;
        background-color: #ddd;
        margin-right: 0.3125rem;
      }

      .by {
        font-size: 0.8125rem;
        line-height: 0.75rem;
        color: #bbb;
      }
      .author {
        margin-left: 0.125rem;
        font-weight: 300;
        font-size: 0.75rem;
        line-height: 1.1875rem;
        color: #959595;
      }
    }
    .thumb {
      grid-area: thumb;
      margin-top: 0.375rem;
      width: 3.75rem;
      height: 3.75rem;
      object-fit: cover;
    }
  }

  .author_card {
    display: grid;
    grid-template-areas:
      'thumb ttl'
      'thumb excerpt'
      'keyword keyword';
    grid-template-columns: 2.5rem 1fr;
    gap: 0 1.1875rem;
    padding: 1.125rem 0 1.5rem;
    border-bottom: 0.0625rem solid #eee;

    .author_link {
      display: contents;
    }

    .thumb {
      grid-area: thumb;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      object-fit: cover;
      overflow: hidden;
    }

    .author_ttl {
      grid-area: ttl;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      margin: 0;
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.625rem;
    }
    .author_excerpt {
      grid-area: excerpt;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      margin: 0;
      margin-top: 0.1875rem;
      margin-bottom: 0.375rem;
      font-weight: 300;
      font-size: 0.75rem;
      line-height: 1.25rem;
      color: #959595;
    }
  }
  .keyword_area {
    grid-area: keyword;
    margin-top: 0.6875rem;
    padding-left: 2.75rem;
    width: 100%;
  }
}
