/* 글쓰기 페이지 */
.write_sec {
  .ttl_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #eee;

    .btn_close,
    .btn_submit {
      display: block;
      flex-shrink: 0;
      width: 30px;
      height: 30px;
      background-position: center center;
      background-size: 100% auto;
      background-repeat: no-repeat;
    }

    .btn_close {
      background-image: url('/public/icons/ico-close-thin.svg');
    }
    .btn_submit:disabled {
      background-image: url('/public/icons/ico-done-thin.svg');
    }
    .btn_submit {
      background-image: url('/public/icons/ico-done-on-thin.svg');
    }

    .ttl {
      margin: 0;
      font-weight: 600;
      font-size: 19px;
      line-height: 22px;
      color: #111;
    }
  }

  .write_group,
  .editor_area {
    display: flex;
    align-items: center;
    padding: 25px;
    height: 60px;
    border-top: 1px solid #eee;
  }

  .editor_area {
    display: block;
    height: auto;
  }

  .form_input {
    color: #111;

    &::placeholder {
      color: #959595;
    }
  }

  .ttl_group {
    .form_input {
      font-size: 24px;
      line-height: 26px;
    }
  }

  .sub_ttl_group {
    .form_input {
      font-size: 20px;
      line-height: 18px;
    }
  }

  #editor {
    min-height: 400px;
  }

  .preview_area {
    .lbl_img {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-image: url('/public/icons/ico-picture-gray.svg');
      background-position: center center;
      background-size: 100% auto;
      cursor: pointer;
    }

    #preview {
      width: 200px;
      visibility: hidden;
    }

    &.active {
      .lbl_img {
        display: none;
      }
      #preview {
        visibility: visible;
      }
    }
  }
}

/* 검색결과 페이지 */
.search_header {
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 0.0625rem solid #ddd;

  .search_box {
    display: flex;
    align-items: center;
    gap: 0.5625rem;
    padding: 1rem 1.25rem;

    .search_input {
      flex: 1;
      margin-left: 1.5625rem;
      font-weight: 300;
      font-size: 1.5rem;
      color: #333;
      text-align: center;

      &::placeholder {
        color: #bfbfbf;
      }
    }

    .btn_reset {
      display: none;
      width: 1rem;
      height: 1rem;
      flex-shrink: 0;
      border-radius: 50%;
      background-image: url('/public/icons/ico-close-circle-gray.png');
      background-position: center center;
      background-size: 100 auto;
      background-repeat: no-repeat;
    }

    &.is_val {
      .btn_reset {
        display: block;
      }
    }
  }

  .search_tab_area {
    display: none;
    margin-bottom: -1px;

    &.active {
      display: flex;
    }

    .search_tab {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid transparent;
      font-weight: 300;
      font-size: 0.875rem;
      line-height: 2.3125rem;
      color: #666;

      &.active {
        color: #00c6be;
        border-color: currentColor;
      }
    }
  }
}

.search_body {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0.6875rem 0;
  background-color: #f8f8f8;

  ol,
  ul {
    margin: 0;
    padding: 0;
  }
}

.search_panel {
  display: none;
  flex-direction: column;
  flex: 1;

  &.active {
    display: flex;
  }

  .inner {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.search_init_panel {
  .recommend_author_area {
    padding: 1.5625rem 0 1.875rem;
  }

  .recommend_author_ttl {
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: #bbb;
  }

  .recommend_author_txt {
    margin-top: 0.75rem;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.8125rem;
    color: #333;
  }

  .search_recent_area {
    padding: 1.125rem 0;
    border-top: 0.0625rem solid #eee;
  }

  .recent_keyword_ttl {
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: #828282;
  }

  .search_recent_list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    margin-top: 1rem;
  }

  .search_recent_item {
    display: flex;
    align-items: center;

    .search_recent_link {
      font-weight: 300;
      font-size: 0.9375rem;
      line-height: 1.2;
      color: #333;
    }

    .btn_remove {
      width: 1rem;
      height: 1rem;
      margin-left: auto;
      background-image: url('/public/icons/ico-close-gray.png');
      background-position: center center;
      background-size: 0.5625rem auto;
      background-repeat: no-repeat;
    }
  }
}

.search_result_panel {
  .aux-area {
    display: flex;

    .search_result_count {
      font-weight: 300;
      font-size: 0.75rem;
      color: #959595;
      line-height: 2.25rem;
    }

    .search_sort_area {
      display: flex;
      gap: 1.125rem;
      margin-left: auto;

      .search_sort_btn {
        display: flex;
        align-items: center;
        gap: 0.3125rem;
        font-weight: 300;
        font-size: 0.8125rem;
        color: #959595;
        line-height: 2.25rem;

        &.active {
          color: #333;

          &::before {
            content: '';
            display: block;
            width: 0.25rem;
            height: 0.25rem;
            background-color: #00c6be;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .post_area,
  .author_area {
    display: none;
    flex-direction: column;
    flex: 1;
    margin-top: 0.75rem;

    &.active {
      display: flex;
    }
  }

  .post_card {
    display: grid;
    grid-template-areas:
      'ttl ttl ttl'
      'excerpt excerpt thumb'
      'date author thumb';
    grid-template-columns: max-content 1fr 3.75rem;
    gap: 0 0.4375rem;

    & + .post_card {
      margin-top: 2.125rem;
    }

    .post_link {
      display: contents;
    }

    .post_ttl {
      grid-area: ttl;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      margin: 0;
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.5rem;
    }
    .post_excerpt {
      grid-area: excerpt;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      margin: 0;
      margin-top: 0.1875rem;
      margin-bottom: 0.375rem;
      font-weight: 300;
      font-size: 0.75rem;
      line-height: 1.25rem;
      color: #959595;
    }
    .date {
      display: flex;
      align-items: center;
      grid-area: date;
      font-weight: 300;
      font-size: 0.75rem;
      line-height: 1.1875rem;
      color: #959595;
    }
    .author_box {
      display: flex;
      align-items: center;
      grid-area: author;

      &::before {
        content: '';
        display: block;
        width: 0.125rem;
        height: 0.125rem;
        flex-shrink: 0;
        background-color: #ddd;
        margin-right: 0.3125rem;
      }

      .by {
        font-size: 0.8125rem;
        line-height: 0.75rem;
        color: #bbb;
      }
      .author {
        margin-left: 0.125rem;
        font-weight: 300;
        font-size: 0.75rem;
        line-height: 1.1875rem;
        color: #959595;
      }
    }
    .thumb {
      grid-area: thumb;
      margin-top: 0.375rem;
      width: 3.75rem;
      height: 3.75rem;
      object-fit: cover;
    }
  }

  .author_card {
    display: grid;
    grid-template-areas:
      'thumb ttl'
      'thumb excerpt'
      'keyword keyword';
    grid-template-columns: 2.5rem 1fr;
    gap: 0 1.1875rem;
    padding: 1.125rem 0 1.5rem;
    border-bottom: 0.0625rem solid #eee;

    .author_link {
      display: contents;
    }

    .thumb {
      grid-area: thumb;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      object-fit: cover;
      overflow: hidden;
    }

    .author_ttl {
      grid-area: ttl;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      margin: 0;
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.625rem;
    }
    .author_excerpt {
      grid-area: excerpt;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      margin: 0;
      margin-top: 0.1875rem;
      margin-bottom: 0.375rem;
      font-weight: 300;
      font-size: 0.75rem;
      line-height: 1.25rem;
      color: #959595;
    }
  }
  .keyword_area {
    grid-area: keyword;
    margin-top: 0.6875rem;
    padding-left: 2.75rem;
    width: 100%;
  }
}

.empty_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.92rem;
  margin-block: auto;

  &::before {
    content: '';
    display: block;
    width: 2.94269rem;
    height: 4.20244rem;
    flex-shrink: 0;
    background-image: url('/public/icons/ico-brunch-gray.svg');
    background-repeat: no-repeat;
    background-size: 100 auto;
  }

  .txt {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.25rem;
    color: #959595;
    text-align: center;
  }
}

.drawer_sec {
  margin-top: 2.13rem;

  .aux_ttl_area {
    margin-bottom: 0.87rem;

    .arw_more {
      display: flex;
      align-items: center;
      gap: 0.19rem;

      &::after {
        content: '';
        display: block;
        width: 1.25rem;
        height: 1.25rem;
        flex-shrink: 0;
        background-image: url('/public/icons/arw-right-sm.svg');
        background-size: 100% auto;
      }
    }

    .ttl {
      margin: 0;
      font-weight: 600;
      font-size: 1.1875rem;
      line-height: 1.375rem;
      color: #111;
    }
  }
}

/* brunch_book */
.brunch_book {
  flex-shrink: 0;
  position: relative;
  width: 7.67856rem;
  border-radius: 0.096rem 0.19194rem 0.19194rem 0.096rem;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: calc(172 / 122 * 100%);
    background-image:
      url('/public/icons/ico-brunch-book.png'),
      url('https://img1.daumcdn.net/thumb/R240x0.fjpg/?fname=http://t1.daumcdn.net/brunch/service/user/haoS/image/hQBgd-M8Hs2EGbIz2h-4PBAo6yM');
    background-position:
      center bottom 0.5781rem,
      center center;
    background-repeat: no-repeat, no-repeat;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0.35rem;
    top: 0;
    width: 0.19194rem;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
  }

  .bg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .txt_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 2.5625rem;
    left: 50%;
    transform: translateX(-50%);
    width: 4.375rem;
    height: 5.75rem;
    padding: 0.625rem 0.5625rem;
    background-color: #fff;

    .ttl {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      font-weight: 300;
      font-size: 0.67188rem;
      line-height: 0.86381rem;
      color: #333;
    }

    .name {
      font-weight: 300;
      font-size: 0.47994rem;
      line-height: 0.67188rem;
      color: #959595;
    }
  }
}

.brunch_author_list {
  display: flex;
  gap: 1.63rem;

  overflow-x: auto;
  overflow-y: hidden;
  margin: 0 -1.25rem;
  padding: 0 1.25rem;

  &::-webkit-scrollbar {
    display: none;
  }

  .brunch_author_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    gap: 1rem;
  }

  .thumb {
    flex-shrink: 0;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
  }

  .name {
    font-weight: 300;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    color: #959595;
  }
}

.brunch_book_list {
  display: flex;
  gap: 2.2rem;

  overflow-x: auto;
  overflow-y: hidden;
  margin: 0 -1.25rem;
  padding: 0 1.25rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.brunch_link {
  .brunch_txt {
    margin-top: 1rem;
    text-align: center;

    .ttl {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 1.4375rem;
      color: #111;
    }

    .name {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.23rem;
      margin-top: 0.1rem;
      font-weight: 300;
      font-size: 0.8125rem;
      color: #959595;
      line-height: 1.25rem;
    }
  }
}

.mybrunch_list {
  display: flex;
  flex-direction: column;
  margin: 0 -1.25rem;

  .mybrunch_card {
    padding: 0.87rem 1.58rem 0.75rem;
    border-top: 1px solid #eee;

    .ttl {
      font-weight: 400;
      font-size: 1.0625rem;
      line-height: 1.625rem;
      color: #111;
    }

    .desc {
      margin-top: 0.5rem;
      margin-bottom: 0.56rem;
      font-size: 0.75rem;
      line-height: 1.125rem;
      color: #959595;
    }

    .date {
      font-size: 0.75rem;
      line-height: 1.125rem;
      color: #959595;
    }
  }
}
