.w_auto {
  width: auto !important;
}
.h_auto {
  height: auto !important;
}

.by {
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.fw_400 {
  font-weight: 400 !important;
}

.color_white {
  color: #ffffff !important;
}
.color_light_gray {
  color: #f8f8f8 !important;
}
.color_mint {
  color: #00c6be !important;
}
.d_flex {
  display: flex !important;
}
.d_none {
  display: none !important;
}
.color_red {
  color: red !important;
}
