.mainpage_onetitle {
  height: 50px;
  padding-right: 11.5625rem;
}

.mainpage_subtitle {
  display: flex;
  height: 0.875rem;
  flex-direction: column;
  justify-content: center;
  color: #111;
  font-family: Georgia;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 400;
  line-height: 0.875rem; /* 116.667% */
}

.mainpage_ranktitle,
.mainpage_author_title {
  color: #111;
  font-size: 1.1875rem;
  font-weight: 600;
  line-height: 1.375rem; /* 115.789% */
}

.mainpage_item {
  display: flex;
  align-items: flex-start;
  gap: 0.94rem;
  padding: 1.2rem 0;
  border-bottom: 1px solid #e6e6e6; /* 회색 선 */
}

.mainpage_item:last-child {
  border-bottom: none; /* 마지막 요소는 선 제거 */
}

.mainpage_num {
  display: flex;
  justify-content: center; /* 가로 가운데 */
  align-items: center; /* 세로 가운데 */

  width: 0.75rem;
  height: 1.5rem;
}

.mainpage_text {
  flex: 1;
}

.mainpage_secondtitle {
  display: flex;
  margin: 0;
  width: 10rem;
  /* height: 2.8rem; */
  flex-direction: column;
  justify-content: center;
  color: #111;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4375rem; /* 135.294% */
}

.mainpage_gray_by {
  font-family: Georgia;
  font-size: 0.8125rem;
  font-style: italic;
  color: #bbb;
}

.mainpage_name {
  width: 2.12763rem;
  height: 1.25rem;
  color: #959595;
  font-family: Pretendard;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25rem; /* 153.846% */
}

.mainpage_desc {
  width: 12rem;
  height: 2.375rem;
  color: #666;
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 1.1875rem; /* 146.154% */
}

.mainpage_book {
  position: relative;
}

.mainpage_bookimg {
  width: 5rem;
  height: 7rem;
  overflow: hidden; /* 삐져나온 것 잘라내기 */
  border-radius: 3px;
}

.mainpage_overay {
  position: absolute;
  top: 1.7rem;
  left: 1rem;
  width: 2.88rem;
  height: 3.31rem;
  background: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center; /* 위아래 가운데 맞추기 싫으면 빼도 됨 */
  padding: 0.42rem 0.48rem 0.44rem 0.38rem; /* ← 안쪽 여백(이게 중요) */
  box-sizing: border-box; /* padding 포함해서 width 계산 */
}

.mainpage_overay_title {
  color: #333;
  width: 2.02rem;
  font-size: 0.4375rem;
  font-weight: 300;
  line-height: 0.625rem;
  margin: 0;
}

.mainpage_overay_name {
  display: flex;
  color: #959595;
  font-size: 0.3125rem;
  font-style: normal;
  font-weight: 300;
  line-height: 0.4rem; /* 140% */
}

.mainpage_book_logo {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  width: 1.625rem;
  height: 0.3125rem;
  flex-shrink: 0;
}

.mainpage_author_group {
  position: relative; /* 기준점 */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 그리드 */
  column-gap: 2rem; /* 가로 간격 */
  row-gap: 2.5rem; /* 세로 간격 */
  width: 100%;
  margin-top: 2rem;
}

/* 세로선 */
.mainpage_author_group::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%; /* 가운데 */
  /* transform: translateX(-50%); */
  width: 1px;
  height: 100%;
  background-color: #e6e6e6;
}

/* 가로선 */
.mainpage_author_group::after {
  content: '';
  position: absolute;
  top: 50%; /* 가운데 */
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
}

.mainpage_author {
  text-align: center;
  width: 100%;
}

.naimpage_pic {
  width: 5rem;
  height: 5rem;
  margin: 0rem auto 0.94rem;
  border-radius: 50%;
  display: block;
}

.mainpage_info {
  display: flex;
  flex-direction: column;
  gap: 0; /* row-gap: 0; 과 같음 */
  align-items: center;
}

.mainpage_author_name {
  width: auto;
  height: 1.375rem;
  margin: 0 auto;
  color: #111;
  text-align: center;
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 1.375rem; /* 115.789% */
}
.mainpage_author_job {
  width: auto;
  height: 1.125rem;
  margin: 0 auto;
  text-align: center;
  color: #959595;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.125rem; /* 150% */
}
.mainpage_author_desc {
  width: 7.5rem;
  height: 2.375rem;
  margin: 0.94rem auto;
  color: #666;
  text-align: center;
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 1.1875rem; /* 146.154% */
}
