.mainpage_list {
  padding: 0;
  padding-left: 0.44rem;
}

.mainpage_item a {
  display: contents;
}

.mainpage_onetitle {
  height: 50px;
  padding-right: 11.5625rem;
}

.mainpage_subtitle {
  display: flex;
  height: 0.875rem;
  flex-direction: column;
  justify-content: center;
  color: #111;
  font-family: Georgia;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 400;
  line-height: 0.875rem; /* 116.667% */
}

.mainpage_ranktitle,
.mainpage_author_title {
  color: #111;
  font-size: 1.1875rem;
  font-weight: 600;
  line-height: 1.375rem; /* 115.789% */
}

.mainpage_item {
  display: flex;
  align-items: flex-start;
  gap: 0.94rem;
  padding: 1.2rem 0;
  border-bottom: 1px solid #e6e6e6; /* 회색 선 */

  a {
    display: contents;
  }
}

.mainpage_item:last-child {
  border-bottom: none; /* 마지막 요소는 선 제거 */
}

.mainpage_num {
  display: flex;
  justify-content: center; /* 가로 가운데 */
  align-items: center; /* 세로 가운데 */

  width: 0.75rem;
  height: 1.5rem;
  flex-shrink: 0;
}

.mainpage_text {
  flex: 1;
}

.mainpage_secondtitle {
  display: flex;
  margin: 0;
  width: 10rem;
  flex-direction: column;
  justify-content: center;
  color: #111;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4375rem; /* 135.294% */
}

.mainpage_gray_by {
  font-family: Georgia;
  font-size: 0.8125rem;
  font-style: italic;
  color: #bbb;
}

.mainpage_name {
  width: 2.12763rem;
  height: 1.25rem;
  color: #959595;
  font-family: Pretendard;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25rem;
}

.mainpage_desc {
  width: 12rem;
  color: #666;
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 1.1875rem;
  overflow: hidden;
  display: -webkit-box;
  /* ---- 표준 속성 ---- */
  line-clamp: 2;
  display: -webkit-box;
  box-orient: vertical;

  /* ---- Safari, 오래된 Chromium 호환 ---- */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.mainpage_book {
  position: relative;
  width: 5rem; /* 현재 유지하고 싶은 크기 */
  max-width: 100%; /* 브라우저 줄어들면 자동 축소 */
  flex-shrink: 0;
}

.mainpage_bookimg {
  width: 100%; /* 부모 크기 기준으로 줄어듦 */
  height: 7rem;
  border-radius: 3px;
}

.mainpage_overay {
  position: absolute;
  top: 34%; /* 이미지 기준 비율 */
  left: 20%;
  width: 58%;
  height: 47%;
  padding: 0.4rem;
  background: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center; /* 위아래 가운데 맞추기 싫으면 빼도 됨 */
  padding: 0.42rem 0.48rem 0.44rem 0.38rem; /* ← 안쪽 여백(이게 중요) */
  box-sizing: border-box; /* padding 포함해서 width 계산 */
}

.mainpage_overay_title {
  color: #333;
  width: 2.02rem;
  font-size: 0.4375rem;
  font-weight: 300;
  line-height: 0.625rem;
  margin: 0;
}

.mainpage_overay_name {
  display: flex;
  color: #959595;
  font-size: 0.3125rem;
  font-style: normal;
  font-weight: 300;
  line-height: 0.4rem; /* 140% */
}

.mainpage_book_logo {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  width: 1.625rem;
  height: 0.3125rem;
  flex-shrink: 0;
}

.mainpage_author_group {
  position: relative; /* 기준점 */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 그리드 */
  column-gap: 2rem; /* 가로 간격 */
  row-gap: 2.5rem; /* 세로 간격 */
  width: 100%;
  margin-top: 2rem;
}

/* 세로선 */
.mainpage_author_group::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%; /* 가운데 */
  /* transform: translateX(-50%); */
  width: 1px;
  height: 100%;
  background-color: #e6e6e6;
}

/* 가로선 */
.mainpage_author_group::after {
  content: '';
  position: absolute;
  top: 50%; /* 가운데 */
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
}

.mainpage_author {
  text-align: center;
  width: 100%;
}

.naimpage_pic {
  width: 5rem;
  height: 5rem;
  margin: 0rem auto 0.94rem;
  border-radius: 50%;
  display: block;
}

.mainpage_info {
  display: flex;
  flex-direction: column;
  gap: 0; /* row-gap: 0; 과 같음 */
  align-items: center;
}

.mainpage_author_name {
  width: auto;
  height: 1.375rem;
  margin: 0 auto;
  color: #111;
  text-align: center;
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 1.375rem; /* 115.789% */
}
.mainpage_author_job {
  width: auto;
  height: 1.125rem;
  margin: 0 auto;
  text-align: center;
  color: #959595;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.125rem; /* 150% */
}
.mainpage_author_desc {
  width: 7.5rem;
  height: 2.375rem;
  margin: 0.94rem auto;
  color: #666;
  text-align: center;
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 1.1875rem; /* 146.154% */
}

.visual {
  position: relative;
  background: #8d4e8e;

  .visual_swiper {
    width: 100%;
    height: 30.5rem;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.26) 100%
    );

    .brunch_link {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 3.42rem;
    }

    .brunch_link .brunch_txt {
      margin-top: 0;
      margin-bottom: 4.17rem;

      .ttl {
        margin-bottom: 0.72rem;
        font-weight: 300;
        font-size: 1.375rem;
        line-height: 1.9375rem;
        color: #fff;
      }

      .name {
        font-size: 0.75rem;
        line-height: 1rem;
        color: #fff;
      }
    }

    .cheering {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      margin-top: 1.88rem;
      font-size: 0.875rem;
      line-height: 1.3125rem;
      color: #fff;

      &::before {
        content: '';
        display: block;
        width: 1.3125rem;
        height: 1.3125rem;
        flex-shrink: 0;
        background-image: url('/icons/ico-view-cheer-white.svg');
      }
    }
  }

  .pagination_area {
    display: flex;
    align-items: center;
    gap: 0.56rem;
    position: absolute;
    z-index: 100;
    bottom: 1.75rem;
    left: 50%;
    transform: translateX(-50%);

    .swiper_bar {
      position: relative;
      flex-shrink: 0;
      width: calc(1.25rem * 6);
      height: calc(0.0625rem * 1);
      background: rgba(255, 255, 255, 0.2);

      .bar {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        height: 100%;
        background: #fff;
      }
    }

    .swiper-pagination {
      position: static;
      font-size: 0.6875rem;
      font-weight: 600;
      line-height: 0.8125rem;
      color: rgba(255, 255, 255, 0.5);
    }

    .swiper-pagination-current {
      color: #fff;
    }
  }
}
